<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <img src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-logo-transparent-png-download-0.png" width="70px" height="70px">
        <strong class="Flipcart"><i>Flipkart</i></strong>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="search products"/>
          <div><span class="fas fa-search search-icon"></span></div>
        </div>
        <button routerLink="cart" class=" btn btn-primary ">
          <div class="cart-button"><i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">0</div></div>
        </button>
      </div>
    </div>
  </header>
